:root {
    --blue: #3e7bee;
    --blue-hover: #0f4cbf;
}



@font-face {
    font-family: 'Manrope ExtraBold';
    src: url('fonts/Manrope-ExtraBold.woff2') format('woff2'),
         url('fonts/Manrope-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Manrope Regular';
    src: url('fonts/Manrope-Regular.woff2') format('woff2'),
         url('fonts/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Manrope SemiBold';
    src: url('fonts/Manrope-SemiBold.woff2') format('woff2'),
         url('fonts/Manrope-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Manrope Medium';
    src: url('fonts/Manrope-Medium.woff2') format('woff2'),
         url('fonts/Manrope-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Manrope Light';
    src: url('fonts/Manrope-Light.woff2') format('woff2'),
         url('fonts/Manrope-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Manrope ExtraLight';
    src: url('fonts/Manrope-ExtraLight.woff2') format('woff2'),
         url('fonts/Manrope-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body, input, textarea {
    -webkit-font-smoothing: antialiased;
	text-rendering:optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    font-family:"Manrope Regular";
    
}

body {
  background-color:#fff;
}

.header {
	margin-bottom:5rem;
}

.home .header{
	border:none;
	margin:none;
	background:#fff;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

.header nav
{
	padding:0 1rem;
	border-bottom:1px solid #eee;
	background:#fff;
}

.home .header nav {
	border:none;
	background:#fff;
}

.header nav.navbar-expand-md a.nav-link
{
	font-size: 14px;
	font-family:"Manrope Medium";
	display: flex;
	align-items: center;
	padding: 2.5rem 1rem 2rem;
    color: rgba(0,0,0,.7);
}

.navbar-light .navbar-nav .active > .nav-link {
	color:var(--blue);
}

.header nav.navbar-expand-md a.nav-link:hover {
	background-color:#f5f5f5;
	color:var(--blue);
}

.hero h1
{

	line-height: 77px;
	font-size: 49px;
	color: #444;
	font-family: "Manrope Light";
	z-index:2;
	text-shadow:1px 1px 2px  #ffff;
    letter-spacing: 0.014em;
    line-height: 64px;	
}

h2 {
    font-family: "Manrope Light";
    margin-bottom:2rem;
}

.hero h2 {
    line-height: 42px;
    font-size: 24px;
    color: #777;
    margin:2rem auto 0rem;
    z-index:2;
    position:relative;
    text-shadow:1px 1px 2px #ffff;
    letter-spacing: 0.03em;
	max-width:600px;
}


.hero  {
    padding: 0px 2rem 0;
    text-align:center;
    background-position:bottom center;
    background-repeat:no-repeat;
    background-image:url(img/background.svg);
    background-size:100%;
    background:rgba(255,255,255,0.9);
    position:relative;
}    


.hero::after {
    background: url(img/background.svg);
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-size: 100%;
    background-position: bottom center;
    background-size: cover;
    background-position: bottom -30px center;
    background-repeat: no-repeat;
}


.hero .heading {
	text-align:center;
	padding:7rem 0 5rem;
}

.hero .btn b
{
	margin-left:5px;
	display:inline-block;
}

.hero .btn
{
	display: inline-block;
	width: 240px;
	height: 50px;
	border-radius: 2px;
	background-color: #419bf9;
	background-color: var(--blue);
	padding: 16px;
	line-height: 14px;
	font-size: 18px;
	text-align: center;
	color: #ffffff;
	margin-right: 14px;
	margin-bottom: 20px;
	border-radius:3px;
	letter-spacing:0.01em;
	font-family: "Manrope Medium";
}

.hero .btn:hover
{
	background:var(--blue-hover);
}

.hero .btn.btn-outline-primary b
{
	transform: rotate(90deg);
}

.hero .btn.btn-primary
{
	box-shadow:-1px 1px 2px 1px rgba(0, 0, 0, 0.07), -1px 1px 2px 0px rgba(255, 255, 255, 0.2) inset;
}

.hero .btn.btn-outline-primary
{
	background-color: transparent;
	background-color: rgba(65, 155, 249, 0.07);
	background-color: #f1f8ff;
	box-shadow: -1px 1px 2px 0px rgba(255, 255, 255, 0.2) inset;
	border:2px solid rgba(65, 155, 249, 0.1);
	color: var(--blue);
}

.hero .btn.btn-outline-primary:hover
{
	background-color: rgba(65, 155, 249, 0.14);
}

.hero .btn span
{
	font-size:24px;
	line-height:24px;
	vertical-align:text-top;
	margin-left:0.2rem;
	display:none;
}

.hero .btn.btn-primary span
{
	font-size:28px;
	margin-right:0.2rem;
}

.hero .dropdown {
	display:inline-block;
}

.hero .dropdown .dropdown-menu {
	min-width: 240px;
}

.dropdown-item {
	padding: .7rem 2.5rem;	
	font-family: "Manrope Medium";
	color: #555;
}

.hero img
{
	margin-top:5rem;
	max-width:100%;
	opacity:0;
	transition:opacity 3s;
	border-radius:10px 10px 0px 0px;
	border:1px solid #ddd;
}

.hero .show img
{
	opacity:1;
}

#screen
{
	height:500px;
	overflow:hidden;
	margin:0px auto;
}

footer
{
	padding-top:5rem;
	padding-bottom:5rem;
	color:#555;
	/*background:rgba(0, 0,0, 0.035);*/
	border-top:1px solid #eee;
	background:rgba(0,0,0,0.025);
	z-index:3;
	margin-top:5rem;
}

.home footer
{
	margin:0;
}

footer h6
{
	margin:1rem 0rem;
	font-weight:600;
}

footer nav a
{
	display:block;
	font-size:90%;
	color:#777;
	font-weight:500;
	margin-bottom:0.35rem;
}

footer img
{
	margin:2rem auto;
	display:block;
}

.navbar-light .navbar-toggler {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.07);
}




@media screen and (max-width: 767px)
{
	.header nav.navbar-expand-md a.nav-link
	{
		font-size: 21px;
	}
	
	.navbar-collapse.collapse.show
	{
		height:100%;
	}
	
	.header nav
	{
		padding:2rem 2rem 0rem;
	}
	
	h1 {
		margin:0px;
		font-size: 35px;
		line-height: 49px;
	}

	h2 {
		font-size: 21px;
		line-height: 42px;
		max-width:auto;
	}
	
	.hero .btn, .dropdown, .dropdown-menu
	{
		min-width:300px;
		width:100%;
	}	
}

.navbar-collapse.show {
	background: #fff;
}

.nav-item.dropdown .dropdown-menu,
.dropdown-toggle .dropdown-menu{
	top:auto;
	margin-top:-1rem;
	-ms-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    display:block;
    transition: opacity .5s cubic-bezier(.19,1,.22,1),transform .5s cubic-bezier(.19,1,.22,1),right 0s linear .5s;
    box-shadow: 0 0 28px rgba(0,0,0,.2);
    border:none;
}

.nav-item.dropdown:hover .dropdown-menu,
.dropdown-toggle:hover .dropdown-menu {
    transform: translateY(0);
    opacity: 1;
    transition: opacity .5s cubic-bezier(.19,1,.22,1),transform .5s cubic-bezier(.19,1,.22,1);
}


.features {
	border-top:1px solid #eee;
	background:rgba(255,255,255, 0.7);
}


.features section {
	//border-top:1px solid #eee;
}

.features section:nth-child(even) {
	background:rgba(0,0,0,0.025);
}

.features section {
	padding:5rem 0;
}

.features h3 {
	margin-bottom:2.8rem;
	color:var(--blue);
	font-family:"Manrope Regular";
}

.features p {
	font-size:1.28rem;
	color:#222;
	line-height:2.8rem;
}

.features section .col-md-6 {
	padding:4rem;
}

.features section .col-img {
	text-align:center;
}

.features section img{
	max-height:300px;
}

label {
	font-family: "Manrope SemiBold";
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-family: "Manrope SemiBold";
    padding: 1rem 4rem;
}    
